html {
    color: $color-black;
    background-color: $color-white;
}

body {
    font-size: $font-s;
    line-height: $height-basic;
    line-height: normal\9;
    font-family: $font-normal;
}

a {
    color: $color-black;
    text-decoration: none;

    // Only underline anchors leading somewhere.
    &:focus,
    &:hover {
        color: $color-blue;
    }
}

img {
    display: block;
}

label, button,html input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
}

[data-action] {
    cursor: pointer;
}
