// Colors
//
// Colors
//
// Markup: _u-colors.html
//
// .u-color--white        - Display white color.
// .u-color--black        - Display black color.
// .u-color--red          - Display red color.
// .u-color--grey-light0  - Display grey-light0 color.
// .u-color--grey-light1  - Display grey-light1 color.
// .u-color--grey-light2  - Display grey-light2 color.
// .u-color--grey-light2  - Display grey-light2 color.
// .u-color--grey-light3  - Display grey-light3 color.
// .u-color--grey         - Display grey color.
// .u-color--grey-dark0   - Display grey-dark0 color.
// .u-color--grey-light0  - Display grey-light0 color.
// .u-color--blue-light0  - Display blue-light0 color.
// .u-color--blue         - Display blue color.
// .u-color--orange       - Display orange color.
//
// Style guide: CSS.Colors

.u-color--white {
    color: $color-white;
}

.u-color--black {
    color: $color-black;
}

.u-color--red {
    color: $color-red;
}

.u-color--grey-light0 {
    color: $color-grey-light0;
}

.u-color--grey-light1 {
    color: $color-grey-light1;
}

.u-color--grey-light2 {
    color: $color-grey-light2;
}

.u-color--grey-light3 {
    color: $color-grey-light3;
}

.u-color--grey {
    color: $color-grey;
}

.u-color--grey-dark0 {
    color: $color-grey-dark0;
}

.u-color--blue-light0 {
    color: $color-blue-light0;
}

.u-color--blue {
    color: $color-blue;
}

.u-color--orange {
    color: $color-orange;
}
